<a href='/' aria-label='מעבר לעמוד הבית' class='logo-container'>
    <div class='logo'></div>
    <div class='separator'></div>
    <h1>בסיס נתונים לאומי<br/>ליער העירוני</h1>
</a>
<div class='links'>
    <a href='https://data-city.my.canva.site/digital-forest-methodology' target='_blank'>מתודולוגיה</a>
    <a href='https://data-city.my.canva.site/digital-forest-add-trees' target='_blank'>הוספת עצים</a>
    <a href='https://www.digital-forest.org.il/' target='_blank'>אודות</a>
    <a href='https://www.canva.com/design/DAFq4RFoMew/bcL0Ro4okQlDrF9HZ85T_g/edit' target='_blank'>מדיניות שימוש</a>
</div>
<a href='https://www.hasadna.org.il' aria-label='אתר הסדנא לידע ציבורי - מעבר לאתר חיצוני' class='pkw-logo'></a>