<div class='backdrop'>
    <a routerLink='/munis' queryParamsHandling='merge'></a>
</div>
<div class='about'>
    <div>
        <h1>פרויקט יע”ד</h1>
        <h2>בונים יחד בסיס נתונים לאומי לעצי רחוב בישראל לקידום עירוניות בריאה, החלטות מבוססות נתונים והנגשת המידע לציבור.</h2>
        <a class='entry' routerLink='/munis'>כניסה&nbsp;&gt;</a>
        <a href='https://www.canva.com/design/DAFq4RFoMew/bcL0Ro4okQlDrF9HZ85T_g/edit' target='_blank'>מדיניות שימוש</a>
    </div>
    <div class='hero'></div>
</div>