<div class='backdrop'>
    <a routerLink='/munis' queryParamsHandling='merge'></a>
</div>
<div class='about'>
    <div>
        <h1>הגעת ליע”ד</h1>
        <h2>ביער עירוני דיגיטלי (יע"ד) אספנו וריכזנו נתונים על מיליוני עצי היער העירוני של הרשויות המקומיות בישראל. 
            לראשונה ניתן להציג, להשוות ולשתף מידע ארצי ועד העץ הבודד.</h2>
        <a class='entry' routerLink='/munis'>כניסה&nbsp;&gt;</a>
        <a href='https://data-city.my.canva.site/terms' target='_blank'>מדיניות שימוש</a>
    </div>
    <div class='hero'></div>
</div>