@import url('../../common-info.less');

.content {
    .info {
        display: flex;
        flex-flow: row;
        align-items: baseline;
        justify-content: space-between;
        span:first-child {
            .font-regular;
            font-size: 15px;
            line-height: 24px;
            color: @color-grey;
        }
        span:last-child {
            .font-semibold;
            font-size: 15px;
            line-height: 24px;
            color: @color-grey;
        }
    }
    .extra-info {
        .item {
            display: flex;
            flex-flow: row;
            align-items: flex-start;;
            justify-content: space-between;
            gap: 16px;
            .title {
                flex: 0 0 auto;
                white-space: nowrap;
            }
            .values {
                flex: 1 1 100%;
                .font-semibold;
                font-size: 15px;
                line-height: 24px;
                color: @color-grey;
                display: flex;
                flex-flow: column;
                align-items: flex-end;
                gap: 2px;

                img {
                    width: 100%;
                    object-fit: contain;
                }

                .unit {
                    font-size: 10px;
                    .font-regular;
                }

                .value-tuple {
                    display: flex;
                    flex-flow: row;
                    align-items: baseline;  
                    justify-content: flex-end;  
                    width: 100%;
                }
            }        
        }
    }
}