<app-content mode='tree' [init]='!!tree' [back]='["/", "trees"]' (state)='state = $event'>
    <div class='content' *ngIf='tree'>
        <h1>מזעץ: {{ tree['meta-tree-id'] }}</h1>
        <div class='main-infos section'>
            <div class='info'>
                <span>מין</span>
                <span>{{ tree['attributes-species-clean-he'] || 'לא ידוע' }}</span>
            </div>
            <div class='info'>
                <span>נ.צ</span>
                <span class='ltr'>{{ tree['location-x'] | number:'1.0-5' }}, {{ tree['location-y'] | number:'1.0-5' }}</span>
            </div>
            <div class='info' *ngIf='tree.muni_name'>
                <span>רשות מקומית</span>
                <span>{{ tree['muni_name'] }}</span>
            </div>
            <div class='info' *ngIf='tree.road_name'>
                <span>רחוב</span>
                <span>{{ tree['road_name'] }}</span>
            </div>
            <div class='info' *ngIf='tree.cad_code'>
                <span>גוש/חלקה</span>
                <span class='ltr'>{{ tree['cad_code'] }}</span>
            </div>
        </div>
        <div class='sources section'>
            <h2>רשימת מקורות המידע</h2>
            <div class='info' *ngFor='let source of sources'>
                <span>{{source.name}}</span>
                <span>{{source.date}}</span>
            </div>
        </div>
        <div class='street-view section'>
            <h2>תצוגת רחוב (עדכניות לפי מפות Google)</h2>
            <iframe width="340" height="340" style="border:0" loading="lazy" allowfullscreen
                    [src]='streetView'></iframe>     
        </div>
    </div>
</app-content>